# Help: https://github.com/pashky/restclient.el
# More examples: https://github.com/pashky/restclient.el/blob/master/examples/httpbin
# C-c C-v: same as C-c C-c, but doesn't switch focus to other window
# C-c C-u: copy query under the cursor as a curl command
# C-h e (view-echo-area-messages): print request header and body

# Some generic vars
:BASE_URL = http://localhost:8081/api/v1
:uuid := (shell-command-to-string "uuidgen | tr -d '\\n'")

# Header
:REQUEST_HEADER = <<
Content-Type: application/json

# Spring Boot actuator
GET :BASE_URL/actuator/health

############################# Task 5 #############################

# Create new user
POST :BASE_URL/user/create
:REQUEST_HEADER

{
  "userId" : ":uuid",
  "firstName": "Alexei",
  "lastName": "Ivanov",
  "email": "alexei.ivanov@example.com",
  "inn": "123456789012",
  "address": "Moscow, str. Green 10"
}


# Create new user with empty email
POST :BASE_URL/user/create
:REQUEST_HEADER

{
  "userId" : ":uuid",
  "firstName": "Alexei",
  "lastName": "Ivanov",
  "email": "",
  "inn": "123456789012",
  "address": "Moscow, str. Green 10"
}

# Create new user with incorrect inn
POST :BASE_URL/user/create
:REQUEST_HEADER

{
  "userId" : ":uuid",
  "firstName": "Alexei",
  "lastName": "Ivanov",
  "email": "alexei.ivanov@example.com",
  "inn": "abc",
  "address": "Moscow, str. Green 10"
}


# Create new user with incorrect json
POST :BASE_URL/user/create
:REQUEST_HEADER

{
  "userId" : ":uuid",
  "firstName": "Alexei",
  "lastName": "incorrect,
  "email": "",
  "inn": "123456789012",
  "address": "Moscow, str. Green 10"
}
