# Help: https://github.com/pashky/restclient.el
# More examples: https://github.com/pashky/restclient.el/blob/master/examples/httpbin
# C-c C-v: same as C-c C-c, but doesn't switch focus to other window
# C-c C-u: copy query under the cursor as a curl command

# Some generic vars
:BASE_URL = http://localhost:8081/api/v1
:uuid := (shell-command-to-string "uuidgen | tr -d '\\n'")
:uuid2 := (shell-command-to-string "uuidgen | tr -d '\\n'")
:rand-num := (random 10000)
:rand-ord := (concat "ORD-" (number-to-string (random 10000)))

# Spring Boot actuator
GET :BASE_URL/actuator/health

############################# Task 3 #############################

# Create new CashbackDto
POST :BASE_URL/transfer/send
Content-Type: application/json

{
  "eventId": ":uuid",
  "operationId": ":uuid2",
  "senderIban": "DE12345678901234567890",
  "receiverIban": "FR7630006000011234567890123",
  "receiverBic": "BNPAPRPPXXX",
  "amount": 1250.50,
  "currency": "EUR",
  "createdAt": "2026-02-23T14:55:00+03:00"
}
