# Help: https://github.com/pashky/restclient.el
# More examples: https://github.com/pashky/restclient.el/blob/master/examples/httpbin
# C-c C-v: same as C-c C-c, but doesn't switch focus to other window
# C-c C-u: copy query under the cursor as a curl command

# Some generic vars
:BASE_URL = http://localhost:8081/api/v1
:rand-num := (random 10000)
:rand-task1 := (concat "Task1_PRODUCTION_PRODUCED_" (number-to-string (random 10000)))

# Spring Boot actuator
GET :BASE_URL/actuator/health

# Create new task1
# Post works too, entity just goes after an empty line. Same is for PUT.
POST :BASE_URL/task1/send
Content-Type: application/json

{
  "number": :rand-num,
  "content": ":rand-task1"
}
